<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>RESET PASSWORD</title>
</head>
<body>


    <p>Please click <a href="https://viewstripo.email/">here</a> to be redirected back to our website to generate your new password. Note: This link is only valid for 15 minutes</p>

    <p>If you did not authorize this operation, please ignore this email</p>
    
</body>
</html>