.Vertical {
  background: rgb(247, 249, 251);

  /* min-height: 100vh; */
  padding: 20px;
}
.Flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Container2 {
  max-width: 1000px;
  margin: auto;
}
.loadmorecont {
  text-align: center;
  margin-top: 20px;
}

.loadmorecont .loadmore {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #222;
  background: none;
  cursor: pointer;
}
.Container {
  height: 300px;
  overflow-y: auto;
}

.CreateCont {
  background: black;
  max-width: 1000px;
  margin: auto;
  padding: 10px 29px;
  display: flex;
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.CreateCont h1 {
  font-weight: 1000;
  font-size: 32px;
}
.createButton a {
  display: none;
  color: white !important;
  text-decoration: none !important;
}
.createButton a,
.createButton svg {
  text-decoration: none;
  color: white;
}
.createButton a {
  background: black;
  padding: 10px;
  border-radius: 10px;
}

.LoadingBody {
  background: white;
  min-height: 400px;
  width: 100%;
  margin: 20px auto;
  max-width: 1000px;
  padding: 20px;
  /* display: flex; */
  /* flex-flow: column; */
  /* justify-content: center;
  align-items: center; */
}

.SingleVertical {
  background: white;
  max-width: 1000px;
  margin: auto;
  font-weight: 300;
  text-align: left;
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.SingleVertical a {
  text-decoration: none !important;
  transition: 0.3s;
  opacity: 0;
  color: white !important;
  background: #222;
  padding: 10px;
  border-radius: 3px;
}
.SingleVertical:hover a {
  transition: 0.3s;
  opacity: 1;
}

.totalLinkForSingleVertical {
  color: black;
  text-decoration: none !important;
}

@media (min-width: 600px) {
  .createButton a {
    display: inline-block;
  }
}
